<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Fábrica</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Rajdhani:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/registerFactory.css">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>Registrá tu <span>Fábrica</span></h2>
                <p>Complete los detalles a continuación para registrar una nueva fábrica en el sistema.</p>
                <form class="form" th:action="@{/factory/register-factory}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre de la Fábrica" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
            <div class="hero-image">
                <img src="../img/factory.jpg" alt="Factory">
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>